@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: 500;
    font-size: 22px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252a;
}

.btn__aboutUs {
    padding: 9px 12px;
    font-size: 18px;
    color: #edf0f1;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn__aboutUs:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.container {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    padding: 3rem;
}

.card {
    background-color: seashell;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    display: 1.5rem;
    overflow: hidden;
    width: 30rem;
    height: 13rem;
    margin: 8rem;
}

.card h2, h4{
    opacity: 0.5;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.left-side-card {
    background-color: rgba(0, 136, 169, 1);
    color: #edf0f1;
    padding: 2rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left-side-card i {
    font-size: 5rem;
}

.right-side-card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.btn_restart {
    background-color: #ff0000;;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    color: #edf0f1;
    padding: .2rem 1.5rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    align-self: flex-end;
}

.btn_restart:hover {
    background-color: #ff0000;
}

.btn_refresh{
    background-color: rgba(0, 136, 169, 1);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    color: #edf0f1;
    padding: .2rem 1.5rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    align-self: flex-end;
}

.btn_refresh:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #24252a;
    padding-top: 20px;
    padding-bottom: 5px;
    color: #edf0f1;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h4 {
    font-size: 1rem;
    text-transform: capitalize;
    line-height: 2rem;
}

.footer-content h6 {
    font-size: .7rem;
    text-transform: capitalize;
    line-height: 1rem;
    padding-bottom: .5rem;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1.5rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.5rem;
    transition: color .2s ease;
}

.socials a:hover i {
    color: rgba(0, 136, 169, 1);
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #edf0f1;
    margin: 10px auto;
}

.copyright {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}